@import "variables";


/* ----------------- */
/* -- Roc Grotesk -- */
/* ----------------- */

// Extra-bold
@font-face {
  font-family: "Roc Grotesk";
  font-weight: $weight-extra-bold;
  src: url("../fonts/rocgrotesk-extrabold.otf");
}

// Medium
@font-face {
  font-family: "Roc Grotesk";
  font-weight: $weight-medium;
  src: url("../fonts/rocgrotesk-medium.otf");
}

// Regular
@font-face {
  font-family: "Roc Grotesk";
  font-weight: $weight-regular;
  src: url("../fonts/rocgrotesk-regular.otf");
}


/* ---------------------- */
/* -- Roc Grotesk Wide -- */
/* ---------------------- */

// Bold
@font-face {
  font-family: "Roc Grotesk Wide";
  font-weight: $weight-bold;
  src: url("../fonts/rocgroteskwide-bold.otf");
}

/* ----------------- */
/* -- Metropolis -- */
/* ----------------- */

// Regular
@font-face {
  font-family: "Metropolis";
  font-weight: $weight-regular;
  src: url("../fonts/metropolis-regular.otf");
}