@import "font";
@import "reset";
@import "utils";
@import "variables";

body {
  background: $secondary-color;
  color: white;
  font-family: "Metropolis", sans-serif;
  font-weight: $weight-regular;
}

h1, h2, h3 {
  font-family: "Roc Grotesk", sans-serif;
}

@import "nav";
@import "front";
@import "planet";