//colors
$primary-color: #fff;
$secondary-color: #1B1B1B;
$accent-color: #3EA2A8;
$accent-color--dark: #158188;

//font sizes
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-extra-bold: 800;