&__qualifications {
  background: $primary-color;
  color: $secondary-color;
  padding: 1.4375rem 1rem;
  @media (min-width: 800px) {
    padding: 0 8.75rem 1.4375rem;
  }

  .qualifications {
    &__qualification {
      @media (min-width: 1000px) {
        display: flex;
        gap: 2.5625rem;
        justify-content: center;
        &__center-line {
          flex-basis: 2px;
          min-width: 2px;
          border-right: solid 2px $secondary-color;
        }
        &:nth-child(3n) {
          flex-direction: row-reverse;

          .qualifications__qualification {
            &__main {
              text-align: left;
            }
          }

        }
        > * {
          width: 50%;
          max-width: 30rem;
        }
      }

      &:first-of-type {
        margin-top: 1.875rem;
      }

      &:not(:last-of-type) {
        margin-bottom: 3.125rem;
      }

      &__row {
        display: flex;
        line-height: 1.125;
        margin-bottom: 0.5rem;
        @media (min-width: 1000px) {
          flex-direction: column;
        }
      }

      &__title {
        font-size: 1.25rem;
        @media (min-width: 1000px) {
          font-size: 2.25rem;
        }
      }

      &__year {
        font-size: 1.25rem;
        @media (max-width: 999px) {
          text-align: right;
        }
        @media (min-width: 1000px) {
          font-size: 2.25rem;
        }
      }

      &__school {
        color: #707070;
        margin-bottom: 0.25rem;
      }

      &__location {
        color: #707070;
      }

      &__main {
        @media (min-width: 1000px) {
          text-align: right;
        }
      }

      &__desc {
        margin-top: 1.75rem;
        line-height: 1.6;
        @media (min-width: 1000px) {
          margin-top: 0;
          font-size: 1.125rem;
        }
      }
    }
  }
}