&__qualifications {
  background: $primary-color;
  color: $secondary-color;
  padding: 1.4375rem 1rem;
  @media (min-width: 800px) {
    padding: 0 8.75rem 1.4375rem;
  }
  .qualifications {
    &__qualification {
      &:first-of-type {
        margin-top: 1.875rem;
      }
      &:not(:last-of-type) {
        margin-bottom: 3.125rem;
      }
      &__row {
        display: flex;
        font-size: 1.25rem;
        line-height: 1.125;
        margin-bottom: 0.5rem;
      }
      &__year {
        text-align: right;
      }
      &__school {
        color: #707070;
        margin-bottom: 0.25rem;
      }
      &__location {
        color: #707070;
      }
    }
  }
}