@import "../variables";

body {
  max-width: 1920px;
  margin: auto;
}

.hero {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Roc Grotesk", sans-serif;
  font-size: 2rem;
  padding: 30.17751479vh 1rem;
  position: relative;
  width: 100vw;
  max-width: 1920px;
  overflow: hidden;
  @media (min-width: 700px) {
    display: flex;
    flex-direction: column;
    padding: 0 17%;
    justify-content: center;
    box-sizing: border-box;
  }

  &__pre {
    margin-bottom: 1rem;
    font-weight: bold;
    @media (min-width: 700px) {
      font-size: min(2.5vw, 2.25rem);
    }
  }

  &__title {
    font-size: 4.375rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    @media (min-width: 700px) {
      font-size: min(13.88888889vw, 12.5rem);
      margin-bottom: 0;
    }

    :last-child {
      @media (min-width: 700px) {
        text-align: right;
        //transform: translateY(-10vh);
      }
    }
  }

  &__tagline {
    line-height: 1.5;
    max-width: 15rem;
    font-weight: $weight-extra-bold;
    @media (min-width: 700px) {
      font-size: min(2.5vw, 2.25rem);
      width: 19vw;
      max-width: initial;
    }
  }

  &__arrow {
    transform-origin: left;
    stroke: #fff;
    stroke-width: 2px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    animation: 3s ease-in-out infinite float;
  }
}

.about {
  background: white;
  color: #1B1B1B;
  padding: 0 1rem;
  display: grid;
  grid-template-areas:
          'img title'
          'desc desc';
  grid-template-columns: auto 1fr;
  @media (min-width: 800px) {
    padding: 0 5vw;
    grid-template-columns: 27.375rem 1fr;
    grid-template-areas:
            'img title'
            'img desc';
  }
  &__title {
    text-align: left;
    font-size: 2rem;
    grid-area: title;
    align-self: end;
    margin-left: 1.25rem;
    @media (min-width: 800px) {
      font-size: 3rem;
      margin: 14.125rem 0 0 2.5rem;
      line-height: 1.12;
    }

    strong {
      font-weight: $weight-extra-bold;
      display: block;
    }
  }

  &__img-container {
    grid-area: img;
    width: 10.5625rem;
    height: 11rem;
    background: #5BBAC0;
    display: block;
    bottom: 0;
    position: relative;
    margin: 2.5rem 0 0.625rem;
    @media (min-width: 800px) {
      position: absolute;
      margin: 6rem 0 0 1.25rem;
      width: 27.375rem;
      height: 31.4375rem;
      top: 0;
    }
    &__img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }

  &__desc {
    grid-area: desc;
    margin-top: 0.875rem;
    line-height: 1.6;
    @media (min-width: 800px) {
      max-width: 42.5rem;
      font-size: 1.125rem;
      margin: 1.125rem 0 0 2.5rem;
    }
  }

  &__separator {
    display: block;
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: -1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(90deg) translateX(-50%);
  }
  50% {
    transform: translateY(0.7rem) rotate(90deg) translateX(-50%);
  }
  100% {
    transform: translateY(0) rotate(90deg) translateX(-50%);
  }
}

@import "planet";
@import "project";
@import "faq";
@import "qualification";
@import "contact";
@import "canvas";